CMakeCache.txt
.python-version
CMakeUserPresets.json

*.patch
*.log
*.autosave

build*/
.vscode/
./conan/
CMakeFiles/
venv/

*.pyc
*.swp
.*.swp
*.swo
.*.swo
*.swn
.*.swn
*.swl
.*.swl
*.swm
.*.swm
*.orig
*.DS_Store
*.dylib
*.user
nohup.out
